In [23]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: matplotlib in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 2)) (3.9.2)
Requirement already satisfied: seaborn in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 3)) (0.13.2)
Collecting xlrd (from -r requirements.txt (line 4))
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
data_from_2015_path = './data/2015/'

files_list = os.listdir(data_from_2015_path)

files_list

['kody nowe01,15.xls',
 'kody nowe02,15.xls',
 'kody nowe03,15.xls',
 'kody nowe04,15.xls',
 'kody nowe05,15.xls',
 'kody nowe06,15.xls',
 'kody nowe07,15.xls',
 'kody nowe08,15.xls',
 'kody nowe09,15.xls',
 'kody nowe10,15.xls',
 'kody nowe11,15.xls',
 'kody nowe12,15.xls']

In [54]:
#I have to do the first two individually cause the columns don't match
sum_sales_df_01_2015 = pd.read_excel(io=os.path.join(data_from_2015_path, 'kody nowe01,15.xls'), )
sum_sales_df_01_2015 = sum_sales_df_01_2015.loc[0:49, ['Unnamed: 41', 'SUMA']]
sum_sales_df_01_2015.columns = ['Produkt', '01_2015']

sum_sales_df_02_2015 = pd.read_excel(io=os.path.join(data_from_2015_path, 'kody nowe02,15.xls'), )
sum_sales_df_02_2015 = sum_sales_df_02_2015.loc[0:49, ['Unnamed: 41','SUMA']]
sum_sales_df_02_2015.columns = ['Produkt', '02_2015']


sum_sales_df_01_2015['02_2015'] = sum_sales_df_02_2015['02_2015']
sales_2015 = sum_sales_df_01_2015
sales_2015

                  Produkt  01_2015  02_2015
0       1. SCHAB Z KOŚCIĄ  181.920  174.210
1      2. SCHAB BEZ KOŚCI  192.732  179.310
2    3. KARCZEK BEZ KOŚCI  156.977  171.419
3      4. SZYNKA Z KOŚCIA    0.000    2.840
4     5. SZYNKA BEZ KOŚCI  177.450  213.170
5     6. ŁOPATKA Z KOŚCIA  280.980  246.350
6    7. ŁOPATKA BEZ KOŚCI  157.570  165.918
7      8. ŁOPATKA MIELONA  244.280  211.500
8              9. ŻEBERKO  250.190  263.570
9              10. BOCZEK  297.690  324.190
10            11. GOLONKA  174.490  202.490
11          12. PODGARDLE  201.860  185.290
12   13. SŁONINA BOCZKOWA  206.810  124.320
13              14. KOŚCI  264.825  218.770
14            15. SŁONINA  499.990  320.810
15              16. BŁONA   36.630    9.500
16               17. NOGI  237.022  211.550
17            18. PODROBY   84.550   60.290
18       19. WOŁOWE EXTRA   91.901   96.930
19       20. WOŁOWE OCZKO  204.490  149.950
20             21.  PRĘGA   23.490   24.390
21               22. ŁATA   15.630    7.440
22           23. ROSOŁOWE  236.832  170.140
23            24. KURCZAK   23.280   27.090
24              25. FILET   39.220   27.330
25           26. ĆWIARTKA   36.690  141.700
26               27. UDKO    0.000    0.000
27         28. SKRZYDEŁKO   26.800   20.300
28            29. KORPUSY   23.390   15.060
29              30. ŁAPKI   11.450    0.690
30            31. PODROBY    0.000    0.000
31  32. POLĘDWICA SOPOCKA   10.240   16.190
32      33. SZYNKA DOMOWA   43.270   36.770
33           34. WĘDZONKA    2.511    0.000
34    35. BOCZEK CYGAŃSKI   30.070   21.250
35   36. KIEŁBASA SWOJSKA   73.180   57.268
36    37. KIEŁBASA DOMOWA   56.633   52.870
37    38. PIECZEŃ SWOJSKA  114.400   32.770
38  39. PIECZEN WĄTROBOWA   38.218   38.330
39            40. PASZTET    0.000    0.000
40           41. SALCESON   42.470   41.650
41           42. KASZANKA   97.598   66.740
42         43. PASZTETOWA   34.470   20.947
43    44. BOCZEK WEDZ-GOT    3.490   16.515
44     45. BOCZEK WĘDZONY   87.550   56.850
45  46. PODGZRDLE WĘDZONE   33.400   18.720
46    47. GOLONKA WĘDZONA    0.720    0.960
47    48. ŻEBERKA WĘDZONE    2.240    0.000
48            49. PARÓWKI    0.000    0.000
49            50. WĘDLINY   29.580   27.040

In [75]:
i = 3
for file in files_list[2:]:
    month = f'0{i}' if len(str(i)) == 1 else i
    sum_sales_tmp_2015 = pd.read_excel(io=os.path.join(data_from_2015_path, f'kody nowe{month},15.xls'), )
    sum_sales_tmp_2015 = sum_sales_tmp_2015.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2015.columns = ['Produkt', 'kg']
    sales_2015[f'{month}_2015'] = sum_sales_tmp_2015['kg']
    i += 1
    
sales_2015.head()

,Produkt,01_2015,02_2015,03_2015,04_2015,05_2015,06_2015,07_2015,08_2015,09_2015,10_2015,11_2015,12_2015
0,1. SCHAB Z KOŚCIĄ,181.920,174.210,391.492,330.39,459.240,416.835,363.683,378.498,245.174,408.534,289.64,276.11
1,2. SCHAB BEZ KOŚCI,192.732,179.310,331.325,177.61,159.792,160.040,180.300,189.540,246.870,256.470,208.92,158.21
2,3. KARCZEK BEZ KOŚCI,156.977,171.419,301.939,228.79,272.260,224.882,262.285,196.857,244.620,256.020,199.25,146.83
3,4. SZYNKA Z KOŚCIA,0.000,2.840,62.110,26.91,33.650,19.600,36.660,40.250,30.820,64.320,38.15,17.43
4,5. SZYNKA BEZ KOŚCI,177.450,213.170,385.080,219.12,215.273,180.250,141.008,159.950,180.240,181.700,668.49,557.31

#### Now we have all the products and their sales in "kg's" from 2015, time to move on to 2016

np.float64(2499379.4069999997)