### Here we import the data from individual years, and extract the sales into csv files
Even though the structure annually is similar, every year is done separately to have the option to check and validate everything

#### Installing packages and importing things

In [1]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: matplotlib in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 2)) (3.9.2)
Requirement already satisfied: seaborn in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 3)) (0.13.2)
Requirement already satisfied: xlrd in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from -r requirements.txt (line 4)) (2.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from matplotlib->-r requirements.txt (line 2)) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\damia\anaconda3\envs\datamodelingandanalitycs\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os
import numpy as np
import pandas as pd

### 2015

In [2]:
data_from_2015_path = './data/2015/'

files_list_2015 = os.listdir(data_from_2015_path)

files_list_2015

FileNotFoundError: [WinError 3] System nie może odnaleźć określonej ścieżki: './data/2015/'

In [4]:
#clean rows names
def clean_product_names(value):
    return value.split(".")[1].strip()

In [5]:
#I have to do the first two individually cause the columns don't match
sum_sales_df_01_2015 = pd.read_excel(io=os.path.join(data_from_2015_path, 'kody nowe01,15.xls'), )
sum_sales_df_01_2015 = sum_sales_df_01_2015.loc[0:49, ['Unnamed: 41', 'SUMA']]
sum_sales_df_01_2015.columns = ['Produkt', '01_2015']
sum_sales_df_01_2015['Produkt'] = sum_sales_df_01_2015['Produkt'].apply(clean_product_names)

sum_sales_df_02_2015 = pd.read_excel(io=os.path.join(data_from_2015_path, 'kody nowe02,15.xls'), )
sum_sales_df_02_2015 = sum_sales_df_02_2015.loc[0:49, ['Unnamed: 41','SUMA']]
sum_sales_df_02_2015.columns = ['Produkt', '02_2015']

sales_2015 = sum_sales_df_01_2015
sales_2015['02_2015'] = sum_sales_df_02_2015['02_2015']

In [6]:
i = 3
for file in files_list_2015[2:]:
    month = f'0{i}' if len(str(i)) == 1 else i
    sum_sales_tmp_2015 = pd.read_excel(io=os.path.join(data_from_2015_path, f'kody nowe{month},15.xls'), )
    sum_sales_tmp_2015 = sum_sales_tmp_2015.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2015.columns = ['Produkt', 'kg']
    sales_2015[f'{month}_2015'] = sum_sales_tmp_2015['kg']
    i += 1
    
sales_2015

,Produkt,01_2015,02_2015,03_2015,04_2015,05_2015,06_2015,07_2015,08_2015,09_2015,10_2015,11_2015,12_2015
0,SCHAB Z KOŚCIĄ,181.920,174.210,391.492,330.390,459.240,416.8350,363.6830,378.4980,245.174,408.534,289.640,276.110
1,SCHAB BEZ KOŚCI,192.732,179.310,331.325,177.610,159.792,160.0400,180.3000,189.5400,246.870,256.470,208.920,158.210
2,KARCZEK BEZ KOŚCI,156.977,171.419,301.939,228.790,272.260,224.8820,262.2850,196.8570,244.620,256.020,199.250,146.830
3,SZYNKA Z KOŚCIA,0.000,2.840,62.110,26.910,33.650,19.6000,36.6600,40.2500,30.820,64.320,38.150,17.430
4,SZYNKA BEZ KOŚCI,177.450,213.170,385.080,219.120,215.273,180.2500,141.0080,159.9500,180.240,181.700,668.490,557.310
5,ŁOPATKA Z KOŚCIA,280.980,246.350,378.560,450.510,279.390,210.9100,233.1200,163.5400,289.350,347.650,265.018,220.749
6,ŁOPATKA BEZ KOŚCI,157.570,165.918,377.568,218.150,257.570,221.1700,226.3600,182.2200,197.290,235.920,174.720,137.370
7,ŁOPATKA MIELONA,244.280,211.500,392.250,361.440,363.410,401.0680,381.1180,321.6550,374.340,434.590,320.800,283.705
8,ŻEBERKO,250.190,263.570,435.851,300.840,387.389,232.1250,217.7220,231.8200,261.515,296.165,249.360,201.750
9,BOCZEK,297.690,324.190,562.710,251.690,362.242,262.3800,274.5900,228.3700,394.260,394.260,329.050,185.070
10,GOLONKA,174.490,202.490,285.760,186.750,228.660,150.2300,170.3180,129.5300,232.070,232.070,177.030,164.410
11,PODGARDLE,201.860,185.290,265.170,144.050,142.260,117.0580,92.4200,93.7285,202.395,202.395,210.000,167.070
12,SŁONINA BOCZKOWA,206.810,124.320,180.401,104.940,129.300,116.8400,105.2200,134.9300,145.820,145.820,130.240,100.570
13,KOŚCI,264.825,218.770,330.100,176.710,231.710,233.7700,237.0900,255.9500,383.460,383.460,353.110,239.550
14,SŁONINA,499.990,320.810,485.920,426.143,318.080,360.4400,361.7800,364.3600,409.250,419.150,305.190,332.690
15,BŁONA,36.630,9.500,9.500,3.930,1.410,1.0000,0.0000,17.1500,29.710,29.710,10.040,0.230
16,NOGI,237.022,211.550,338.250,170.900,139.297,164.2000,150.6300,128.9300,268.480,268.480,207.970,200.353
17,PODROBY,84.550,60.290,79.370,70.990,79.180,77.9500,53.1000,63.8600,128.352,134.162,129.260,109.540
18,WOŁOWE EXTRA,91.901,96.930,175.560,121.885,124.739,97.9750,115.4600,98.3600,110.990,141.110,108.260,99.830
19,WOŁOWE OCZKO,204.490,149.950,278.850,285.020,244.772,244.5033,213.2250,213.1200,272.920,355.120,240.470,238.070
20,PRĘGA,23.490,24.390,50.460,16.742,32.880,20.2510,28.7000,34.0300,35.670,35.670,40.760,33.080
21,ŁATA,15.630,7.440,15.390,21.350,83.270,25.7400,12.2080,9.7600,36.440,36.440,30.140,9.730
22,ROSOŁOWE,236.832,170.140,273.570,2312.990,225.960,245.1400,176.9770,1155.6400,306.880,324.330,248.440,200.100
23,KURCZAK,23.280,27.090,48.790,113.340,184.110,94.3600,106.6700,122.7320,31.850,69.820,83.470,124.480
24,FILET,39.220,27.330,407.390,509.340,573.320,542.3400,463.9000,484.9200,31.360,342.460,359.950,356.650
25,ĆWIARTKA,36.690,141.700,141.700,57.230,41.862,38.2100,82.0000,70.6600,72.630,72.630,53.920,54.500
26,UDKO,0.000,0.000,122.350,64.662,186.180,198.7800,230.0200,163.2000,0.000,141.970,110.240,60.570
27,SKRZYDEŁKO,26.800,20.300,30.470,532.780,80.530,37.7600,65.8500,1047.7500,29.650,40.760,40.000,36.360
28,KORPUSY,23.390,15.060,164.110,2144.600,202.610,193.9720,175.8800,707.0400,88.400,202.840,193.550,176.110
29,ŁAPKI,11.450,0.690,0.690,0.000,0.000,1.1900,6.8800,0.0000,0.000,0.000,0.000,0.000
30,PODROBY,0.000,0.000,54.110,69.720,63.470,64.2900,55.3000,71.2600,0.000,74.730,54.300,57.100
31,POLĘDWICA SOPOCKA,10.240,16.190,31.740,37.830,41.325,30.7200,33.9700,29.7300,27.380,48.500,28.410,14.870
32,SZYNKA DOMOWA,43.270,36.770,99.660,155.570,98.470,95.2000,86.2200,90.0000,67.890,106.100,83.410,61.880
33,WĘDZONKA,2.511,0.000,2.640,0.000,11.260,17.6400,18.1630,14.0600,9.040,9.040,13.030,11.760
34,BOCZEK CYGAŃSKI,30.070,21.250,30.475,27.780,37.920,36.5500,86.7900,32.6200,63.822,67.322,46.910,19.140
35,KIEŁBASA SWOJSKA,73.180,57.268,118.508,134.280,95.730,97.5200,87.4200,113.0600,157.270,161.570,105.570,60.770
36,KIEŁBASA DOMOWA,56.633,52.870,140.800,110.320,153.425,159.3130,143.0900,163.4530,74.820,116.620,93.530,75.000
37,PIECZEŃ SWOJSKA,114.400,32.770,52.470,58.440,100.230,88.1530,69.9200,69.9680,70.350,74.990,64.470,56.278
38,PIECZEN WĄTROBOWA,38.218,38.330,75.130,57.560,69.642,72.7800,76.1700,64.4100,54.408,73.708,49.570,47.580
39,PASZTET,0.000,0.000,0.000,0.000,0.000,0.0000,0.5200,0.0000,0.730,0.730,0.400,2.650
40,SALCESON,42.470,41.650,64.700,51.750,49.720,47.4080,46.9300,64.0700,84.974,84.974,55.540,32.830
41,KASZANKA,97.598,66.740,107.050,79.780,103.800,95.3330,164.5800,85.5500,86.935,86.935,72.900,50.307
42,PASZTETOWA,34.470,20.947,33.805,33.255,51.710,38.5000,52.7950,32.8650,49.860,56.230,43.830,23.360
43,BOCZEK WEDZ-GOT,3.490,16.515,49.825,44.860,53.247,44.9900,46.1300,13.1400,45.270,53.030,44.030,28.000
44,BOCZEK WĘDZONY,87.550,56.850,82.562,58.500,77.560,52.1300,45.0500,79.0900,61.880,67.070,51.630,34.170
45,PODGZRDLE WĘDZONE,33.400,18.720,27.230,75.570,39.190,58.8900,44.4800,58.7500,23.320,23.320,21.330,38.500
46,GOLONKA WĘDZONA,0.720,0.960,2.140,0.000,0.920,1.8200,2.5600,4.2600,3.480,3.480,2.920,0.000
47,ŻEBERKA WĘDZONE,2.240,0.000,0.910,0.000,3.480,5.5000,1.0300,3.0300,0.000,0.000,0.500,0.410
48,PARÓWKI,0.000,0.000,31.610,37.690,14.220,22.0000,25.5000,21.8000,0.000,22.420,7.800,16.970
49,WĘDLINY,29.580,27.040,34.290,28.973,43.280,32.9300,31.4591,48.1110,66.640,66.640,47.280,32.540

In [7]:
#validation and cleaning

def print_abnormal_values(row):
    for column, value in row.items():
        if value > 1000 or value < 0 or np.isnan(value):
            print(f"Wartość w wierszu {row.name}, kolumnie '{column}': {value}")


sales_2015.loc[22, '04_2015'] /= 10
sales_2015.loc[28, '04_2015'] /= 10
sales_2015.loc[22, '08_2015'] /= 10
sales_2015.loc[27, '08_2015'] /= 10
dont_print = sales_2015.iloc[:, 1:].apply(print_abnormal_values, axis=1)

In [8]:
sales_2015.info()

sales_2015.to_csv('out/sales_2015.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2015  50 non-null     float64
 2   02_2015  50 non-null     float64
 3   03_2015  50 non-null     float64
 4   04_2015  50 non-null     float64
 5   05_2015  50 non-null     float64
 6   06_2015  50 non-null     float64
 7   07_2015  50 non-null     float64
 8   08_2015  50 non-null     float64
 9   09_2015  50 non-null     float64
 10  10_2015  50 non-null     float64
 11  11_2015  50 non-null     float64
 12  12_2015  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### Now we have all the products and their sales in "kg's" from 2015, time to move on to 2016

In [9]:
data_from_2016_path = './data/2016/'
files_list_2016 = os.listdir(data_from_2016_path)
files_list_2016

['01,16.xls',
 '02,16.xls',
 '03,16.xls',
 '04,16.xls',
 '05,16.xls',
 '06,16.xls',
 '07,16.xls',
 '08,16.xls',
 '09,16.xls',
 '10,16.xls',
 '11,16.xls',
 '12,16.xls']

In [10]:
sales_2016 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2016):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2016 = pd.read_excel(io=os.path.join(data_from_2016_path, f'{month},16.xls'), )
    sum_sales_tmp_2016 = sum_sales_tmp_2016.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2016.columns = ['Produkt', 'kg']
    sales_2016[f'{month}_2016'] = sum_sales_tmp_2016['kg']

sales_2016.head()

,Produkt,01_2016,02_2016,03_2016,04_2016,05_2016,06_2016,07_2016,08_2016,09_2016,10_2016,11_2016,12_2016
0,SCHAB Z KOŚCIĄ,194.44,295.60,425.00,309.99,308.39,242.610,284.41,292.130,270.930,229.9520,368.002,541.142
1,SCHAB BEZ KOŚCI,198.94,252.44,352.85,362.01,350.60,417.511,367.87,341.420,379.100,425.1200,549.410,823.190
2,KARCZEK BEZ KOŚCI,171.30,179.90,338.16,246.74,284.78,323.350,272.53,280.492,305.440,323.6752,447.249,775.538
3,SZYNKA Z KOŚCIA,0.68,10.98,40.95,30.50,26.66,30.300,32.95,17.040,46.130,78.6400,76.812,118.880
4,SZYNKA BEZ KOŚCI,100.38,105.58,696.92,627.32,562.33,567.930,663.83,535.870,616.561,812.5100,623.460,676.417

In [11]:
dont_print = sales_2016.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 6, kolumnie '12_2016': 1042.7820000000002
Wartość w wierszu 9, kolumnie '12_2016': 1417.4700000000003
Wartość w wierszu 13, kolumnie '12_2016': 1048.601
Wartość w wierszu 14, kolumnie '11_2016': 1158.2029999999997
Wartość w wierszu 14, kolumnie '12_2016': 1488.082

In [12]:
sales_2016.info()

sales_2016.to_csv('out/sales_2016.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2016  50 non-null     float64
 2   02_2016  50 non-null     float64
 3   03_2016  50 non-null     float64
 4   04_2016  50 non-null     float64
 5   05_2016  50 non-null     float64
 6   06_2016  50 non-null     float64
 7   07_2016  50 non-null     float64
 8   08_2016  50 non-null     float64
 9   09_2016  50 non-null     float64
 10  10_2016  50 non-null     float64
 11  11_2016  50 non-null     float64
 12  12_2016  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2017 below

In [13]:
data_from_2017_path = './data/2017/'
files_list_2017 = os.listdir(data_from_2017_path)
files_list_2017.pop()
files_list_2017.pop()
files_list_2017

['01,017.xls',
 '02,017.xls',
 '03,017.xls',
 '04,017.xls',
 '05,017.xls',
 '06,017.xls',
 '07,017.xls',
 '08,017.xls',
 '09,017.xls',
 '10,017.xls',
 '11,017.xls',
 '12,017.xls']

In [14]:
sales_2017 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2017):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2017 = pd.read_excel(io=os.path.join(data_from_2017_path, f'{month},017.xls'), )
    sum_sales_tmp_2017 = sum_sales_tmp_2017.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2017.columns = ['Produkt', 'kg']
    sales_2017[f'{month}_2017'] = sum_sales_tmp_2017['kg']

sales_2017.head()

,Produkt,01_2017,02_2017,03_2017,04_2017,05_2017,06_2017,07_2017,08_2017,09_2017,10_2017,11_2017,12_2017
0,SCHAB Z KOŚCIĄ,121.510,346.560,384.670,462.770,397.309,365.431,427.063,294.29,343.300,310.920,140.283,455.133
1,SCHAB BEZ KOŚCI,202.943,411.753,615.360,774.810,587.300,592.250,542.130,618.64,525.260,520.200,864.970,1330.400
2,KARCZEK BEZ KOŚCI,10609.486,437.077,573.560,743.210,566.010,671.950,549.698,482.59,510.605,550.394,364.162,1113.422
3,SZYNKA Z KOŚCIA,0.000,62.300,77.500,185.200,129.800,173.200,172.630,44.60,109.200,127.350,4163.350,295.460
4,SZYNKA BEZ KOŚCI,142.620,653.250,1282.742,838.624,753.236,501.160,729.870,466.00,384.820,339.650,455.880,774.290

In [15]:
sales_2017.loc[2,'01_2017'] /= 10
sales_2017.loc[3,'11_2017'] /= 10

dont_print = sales_2017.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 1, kolumnie '12_2017': 1330.3999999999996
Wartość w wierszu 2, kolumnie '01_2017': 1060.9486000000002
Wartość w wierszu 2, kolumnie '12_2017': 1113.4220000000003
Wartość w wierszu 4, kolumnie '03_2017': 1282.742
Wartość w wierszu 9, kolumnie '12_2017': 1189.22

In [16]:
sales_2017.info()

sales_2017.to_csv('out/sales_2017.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2017  50 non-null     float64
 2   02_2017  50 non-null     float64
 3   03_2017  50 non-null     float64
 4   04_2017  50 non-null     float64
 5   05_2017  50 non-null     float64
 6   06_2017  50 non-null     float64
 7   07_2017  50 non-null     float64
 8   08_2017  50 non-null     float64
 9   09_2017  50 non-null     float64
 10  10_2017  50 non-null     float64
 11  11_2017  50 non-null     float64
 12  12_2017  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2018 below

In [17]:
data_from_2018_path = './data/2018/'
files_list_2018 = os.listdir(data_from_2018_path)
files_list_2018

['01,18.xls',
 '02,18.xls',
 '03,18.xls',
 '04,18.xls',
 '05,18.xls',
 '06,18.xls',
 '07,18.xls',
 '08,18.xls',
 '09,18.xls',
 '10,18.xls',
 '11,18.xls',
 '12,18.xls']

In [18]:
sales_2018 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2018):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2018 = pd.read_excel(io=os.path.join(data_from_2018_path, f'{month},18.xls'), )
    sum_sales_tmp_2018 = sum_sales_tmp_2018.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2018.columns = ['Produkt', 'kg']
    sales_2018[f'{month}_2018'] = sum_sales_tmp_2018['kg']

sales_2018.head()

,Produkt,01_2018,02_2018,03_2018,04_2018,05_2018,06_2018,07_2018,08_2018,09_2018,10_2018,11_2018,12_2018
0,SCHAB Z KOŚCIĄ,280.470,287.03,392.291,287.3100,358.763,324.23,307.258,284.238,278.94,330.150,250.02,310.09
1,SCHAB BEZ KOŚCI,403.460,486.58,914.860,529.2443,537.300,457.52,770.230,457.990,498.90,570.759,538.55,864.25
2,KARCZEK BEZ KOŚCI,383.192,413.76,886.757,542.4820,499.100,512.16,501.245,454.680,522.45,546.130,482.40,745.04
3,SZYNKA Z KOŚCIA,124.100,83.65,189.630,160.2600,213.000,180.14,178.750,185.700,204.17,323.520,314.85,350.11
4,SZYNKA BEZ KOŚCI,308.800,468.47,871.840,385.5400,391.210,289.53,293.093,219.660,241.27,295.332,374.13,633.46

In [19]:
dont_print = sales_2018.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 5, kolumnie '03_2018': 1162.43
Wartość w wierszu 6, kolumnie '03_2018': 1101.201
Wartość w wierszu 9, kolumnie '03_2018': 1722.6999999999998
Wartość w wierszu 24, kolumnie '10_2018': 1025.48

In [20]:
sales_2018.info()

sales_2018.to_csv('out/sales_2018.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2018  50 non-null     float64
 2   02_2018  50 non-null     float64
 3   03_2018  50 non-null     float64
 4   04_2018  50 non-null     float64
 5   05_2018  50 non-null     float64
 6   06_2018  50 non-null     float64
 7   07_2018  50 non-null     float64
 8   08_2018  50 non-null     float64
 9   09_2018  50 non-null     float64
 10  10_2018  50 non-null     float64
 11  11_2018  50 non-null     float64
 12  12_2018  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2019 below

In [21]:
data_from_2019_path = './data/2019/'
files_list_2019 = os.listdir(data_from_2019_path)
files_list_2019.pop()
files_list_2019.pop()
files_list_2019.pop()
files_list_2019

['01,19.xls',
 '02,19.xls',
 '03,19.xls',
 '04,19.xls',
 '05,19.xls',
 '06,19.xls',
 '07,19.xls',
 '08,19.xls',
 '09,19.xls',
 '10,19.xls',
 '11,19.xls',
 '12,19.xls']

In [22]:
sales_2019 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2019):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2019 = pd.read_excel(io=os.path.join(data_from_2019_path, f'{month},19.xls'), )
    sum_sales_tmp_2019 = sum_sales_tmp_2019.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2019.columns = ['Produkt', 'kg']
    sales_2019[f'{month}_2019'] = sum_sales_tmp_2019['kg']

sales_2019.head()

,Produkt,01_2019,02_2019,03_2019,04_2019,05_2019,06_2019,07_2019,08_2019,09_2019,10_2019,11_2019,12_2019
0,SCHAB Z KOŚCIĄ,324.310,278.768,340.75,420.9300,319.00,293.150,321.190,311.720,345.115,377.800,267.350,426.130
1,SCHAB BEZ KOŚCI,427.230,415.133,478.57,669.2000,556.00,385.420,510.680,571.668,455.610,521.722,502.210,1174.740
2,KARCZEK BEZ KOŚCI,343.926,380.170,421.91,844.3612,540.85,429.778,730.732,523.063,529.850,739.210,567.494,965.727
3,SZYNKA Z KOŚCIA,316.030,182.010,151.34,427.9700,250.00,202.970,83.940,91.500,54.000,142.600,96.500,37.300
4,SZYNKA BEZ KOŚCI,213.830,293.030,428.23,666.0000,299.13,358.910,582.020,555.110,421.250,633.080,972.270,1226.100

In [23]:
dont_print = sales_2019.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 1, kolumnie '12_2019': 1174.7400000000005
Wartość w wierszu 4, kolumnie '12_2019': 1226.1000000000001
Wartość w wierszu 5, kolumnie '12_2019': 1079.759
Wartość w wierszu 6, kolumnie '10_2019': 1519.0720000000001
Wartość w wierszu 6, kolumnie '12_2019': 1352.49
Wartość w wierszu 9, kolumnie '04_2019': 1033.35
Wartość w wierszu 9, kolumnie '12_2019': 1175.49
Wartość w wierszu 14, kolumnie '11_2019': 1024.21
Wartość w wierszu 28, kolumnie '09_2019': 1041.02

In [24]:
sales_2019.info()

sales_2019.to_csv('out/sales_2019.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2019  50 non-null     float64
 2   02_2019  50 non-null     float64
 3   03_2019  50 non-null     float64
 4   04_2019  50 non-null     float64
 5   05_2019  50 non-null     float64
 6   06_2019  50 non-null     float64
 7   07_2019  50 non-null     float64
 8   08_2019  50 non-null     float64
 9   09_2019  50 non-null     float64
 10  10_2019  50 non-null     float64
 11  11_2019  50 non-null     float64
 12  12_2019  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2020 below

In [25]:
data_from_2020_path = './data/2020/'
files_list_2020 = os.listdir(data_from_2020_path)
files_list_2020.pop()
files_list_2020.pop()
files_list_2020

['01,20.xls',
 '02,20.xls',
 '03,20.xls',
 '04,20.xls',
 '05,20.xls',
 '06,20.xls',
 '07,20.xls',
 '08,20.xls',
 '09,20.xls',
 '10,20.xls',
 '11,20.xls',
 '12,20.xls']

In [26]:
sales_2020 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2020):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2020 = pd.read_excel(io=os.path.join(data_from_2020_path, f'{month},20.xls'), )
    sum_sales_tmp_2020 = sum_sales_tmp_2020.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2020.columns = ['Produkt', 'kg']
    sales_2020[f'{month}_2020'] = sum_sales_tmp_2020['kg']

sales_2020.head()

,Produkt,01_2020,02_2020,03_2020,04_2020,05_2020,06_2020,07_2020,08_2020,09_2020,10_2020,11_2020,12_2020
0,SCHAB Z KOŚCIĄ,270.44,325.73,366.330,300.420,207.278,244.955,223.640,208.11,233.970,250.29,235.547,314.110
1,SCHAB BEZ KOŚCI,342.94,482.88,469.060,468.346,403.930,403.970,401.182,368.88,468.310,466.03,375.340,692.450
2,KARCZEK BEZ KOŚCI,449.72,503.24,514.370,511.050,541.610,446.680,431.580,419.03,416.860,472.07,381.510,675.220
3,SZYNKA Z KOŚCIA,31.67,60.40,65.860,9.410,11.600,40.880,21.340,11.00,22.100,23.65,31.019,199.213
4,SZYNKA BEZ KOŚCI,446.16,615.37,848.998,635.320,395.850,381.533,472.080,427.28,360.344,584.14,399.820,773.470

In [27]:
dont_print = sales_2020.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 7, kolumnie '09_2020': 1148.6570000000002
Wartość w wierszu 9, kolumnie '12_2020': 1298.1878
Wartość w wierszu 14, kolumnie '01_2020': 1028.4299999999998

In [28]:
sales_2020.info()

sales_2020.to_csv('out/sales_2020.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2020  50 non-null     float64
 2   02_2020  50 non-null     float64
 3   03_2020  50 non-null     float64
 4   04_2020  50 non-null     float64
 5   05_2020  50 non-null     float64
 6   06_2020  50 non-null     float64
 7   07_2020  50 non-null     float64
 8   08_2020  50 non-null     float64
 9   09_2020  50 non-null     float64
 10  10_2020  50 non-null     float64
 11  11_2020  50 non-null     float64
 12  12_2020  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2021 below

In [29]:
data_from_2021_path = './data/2021/'
files_list_2021 = os.listdir(data_from_2021_path)[:12]
files_list_2021

['01.21.xls',
 '02.21.xls',
 '03.21.xls',
 '04.21.xls',
 '05.21.xls',
 '06.21.xls',
 '07.21.xls',
 '08.21.xls',
 '09.21.xls',
 '10.21.xls',
 '11.21.xls',
 '12.21.xls']

In [30]:
sales_2021 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2021):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2021 = pd.read_excel(io=os.path.join(data_from_2021_path, f'{month}.21.xls'), )
    sum_sales_tmp_2021 = sum_sales_tmp_2021.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2021.columns = ['Produkt', 'kg']
    sales_2021[f'{month}_2021'] = sum_sales_tmp_2021['kg']

sales_2021.head()

,Produkt,01_2021,02_2021,03_2021,04_2021,05_2021,06_2021,07_2021,08_2021,09_2021,10_2021,11_2021,12_2021
0,SCHAB Z KOŚCIĄ,175.46,143.77,364.84,216.120,274.950,203.72,227.549,248.100,335.34,389.100,350.8600,376.850
1,SCHAB BEZ KOŚCI,344.90,304.37,683.79,386.310,378.839,336.65,368.050,327.430,394.03,408.863,389.4430,694.802
2,KARCZEK BEZ KOŚCI,352.30,382.33,738.54,370.736,428.720,370.24,401.480,369.218,420.93,463.104,388.0002,848.260
3,SZYNKA Z KOŚCIA,97.75,106.87,188.22,60.900,155.300,30.30,97.400,74.700,83.92,56.700,62.5600,113.910
4,SZYNKA BEZ KOŚCI,334.26,489.36,900.29,714.630,559.060,704.34,695.540,590.270,901.93,642.750,618.5400,1083.620

In [31]:
dont_print = sales_2021.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 4, kolumnie '12_2021': 1083.6200000000001
Wartość w wierszu 9, kolumnie '03_2021': 1024.01
Wartość w wierszu 9, kolumnie '12_2021': 1155.3719999999998

In [32]:
sales_2021.info()

sales_2021.to_csv('out/sales_2021.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2021  50 non-null     float64
 2   02_2021  50 non-null     float64
 3   03_2021  50 non-null     float64
 4   04_2021  50 non-null     float64
 5   05_2021  50 non-null     float64
 6   06_2021  50 non-null     float64
 7   07_2021  50 non-null     float64
 8   08_2021  50 non-null     float64
 9   09_2021  50 non-null     float64
 10  10_2021  50 non-null     float64
 11  11_2021  50 non-null     float64
 12  12_2021  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2022 below

In [33]:
data_from_2022_path = './data/2022/'
files_list_2022 = os.listdir(data_from_2022_path)[:12]
files_list_2022

['01.22.xls',
 '02.22.xls',
 '03.22.xls',
 '04.22.xls',
 '05.22.xls',
 '06.22.xls',
 '07.22.xls',
 '08.22.xls',
 '09.22.xls',
 '10.22.xls',
 '11.22.xls',
 '12.22.xls']

In [34]:
sales_2022 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2022):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    
    sum_sales_tmp_2022 = pd.read_excel(io=os.path.join(data_from_2022_path, f'{month}.22.xls'), )
    sum_sales_tmp_2022 = sum_sales_tmp_2022.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2022.columns = ['Produkt', 'kg']
    sales_2022[f'{month}_2022'] = sum_sales_tmp_2022['kg']

sales_2022.head()

,Produkt,01_2022,02_2022,03_2022,04_2022,05_2022,06_2022,07_2022,08_2022,09_2022,10_2022,11_2022,12_2022
0,SCHAB Z KOŚCIĄ,206.74,220.60,301.266,422.42,384.020,278.830,311.61,476.210,335.63,546.690,350.210,567.59
1,SCHAB BEZ KOŚCI,295.28,326.26,486.840,462.02,332.909,351.130,279.92,385.817,437.13,401.870,411.405,645.30
2,KARCZEK BEZ KOŚCI,282.33,376.04,494.817,677.02,356.590,351.034,320.97,375.984,346.09,376.620,377.660,575.38
3,SZYNKA Z KOŚCIA,0.00,6.00,43.380,70.22,0.000,0.380,0.65,1.980,0.00,6.120,9.160,23.78
4,SZYNKA BEZ KOŚCI,483.86,640.13,675.430,940.36,790.845,660.530,444.34,426.840,509.50,708.884,612.200,874.49

In [35]:
dont_print = sales_2022.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 5, kolumnie '04_2022': 1010.8399999999999
Wartość w wierszu 9, kolumnie '03_2022': 1054.859
Wartość w wierszu 9, kolumnie '04_2022': 1112.305
Wartość w wierszu 9, kolumnie '12_2022': 1156.5500000000002

In [36]:
sales_2022.info()

sales_2022.to_csv('out/sales_2022.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2022  50 non-null     float64
 2   02_2022  50 non-null     float64
 3   03_2022  50 non-null     float64
 4   04_2022  50 non-null     float64
 5   05_2022  50 non-null     float64
 6   06_2022  50 non-null     float64
 7   07_2022  50 non-null     float64
 8   08_2022  50 non-null     float64
 9   09_2022  50 non-null     float64
 10  10_2022  50 non-null     float64
 11  11_2022  50 non-null     float64
 12  12_2022  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB

### 2023 below

In [37]:
data_from_2023_path = './data/2023/'
files_list_2023 = os.listdir(data_from_2023_path)[:12]
files_list_2023

['01.23.xls',
 '02.23.xls',
 '03.23.xls',
 '04.23.xls',
 '05.23.xls',
 '06.23.xls',
 '07.23.xls',
 '08.23.xls',
 '09.23.xls',
 '10.23.xls',
 '11.23.xls',
 '12.23.xls']

In [38]:
sales_2023 = pd.DataFrame(sales_2015['Produkt'])

for index, file in enumerate(files_list_2023):
    month = f'0{index+1}' if len(str(index+1)) == 1 else str(index+1)
    sum_sales_tmp_2023 = pd.read_excel(io=os.path.join(data_from_2023_path, f'{month}.23.xls'), )
    sum_sales_tmp_2023 = sum_sales_tmp_2023.loc[0:49, ['Unnamed: 40', 'SUMA']]
    sum_sales_tmp_2023.columns = ['Produkt', 'kg']
    sales_2023[f'{month}_2023'] = sum_sales_tmp_2023['kg']

sales_2023.head()

,Produkt,01_2023,02_2023,03_2023,04_2023,05_2023,06_2023,07_2023,08_2023,09_2023,10_2023,11_2023,12_2023
0,SCHAB Z KOŚCIĄ,342.801,357.33,683.390,442.500,327.85,358.941,311.090,206.840,214.360,236.59,233.1600,224.05
1,SCHAB BEZ KOŚCI,286.440,327.54,515.790,349.156,505.40,350.568,301.022,429.040,320.852,452.39,517.6800,681.97
2,KARCZEK BEZ KOŚCI,288.832,268.65,578.670,412.970,355.25,352.820,312.840,318.993,349.850,349.28,443.1098,613.99
3,SZYNKA Z KOŚCIA,0.000,10.46,0.000,11.600,0.00,0.000,0.000,1061.480,0.000,0.51,0.0000,21.45
4,SZYNKA BEZ KOŚCI,592.590,473.79,1029.657,754.050,684.24,582.000,391.780,451.053,503.700,593.44,647.1000,847.92

In [39]:
sales_2023.loc[28,'05_2023'] /= 10

dont_print = sales_2023.iloc[:, 1:].apply(print_abnormal_values, axis=1)

Wartość w wierszu 3, kolumnie '08_2023': 1061.48
Wartość w wierszu 4, kolumnie '03_2023': 1029.6570000000002
Wartość w wierszu 6, kolumnie '03_2023': 1037.97
Wartość w wierszu 24, kolumnie '08_2023': 1007.8900000000001

In [40]:
sales_2023.info()

sales_2023.to_csv('out/sales_2023.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produkt  50 non-null     object
 1   01_2023  50 non-null     float64
 2   02_2023  50 non-null     float64
 3   03_2023  50 non-null     float64
 4   04_2023  50 non-null     float64
 5   05_2023  50 non-null     float64
 6   06_2023  50 non-null     float64
 7   07_2023  50 non-null     float64
 8   08_2023  50 non-null     float64
 9   09_2023  50 non-null     float64
 10  10_2023  50 non-null     float64
 11  11_2023  50 non-null     float64
 12  12_2023  50 non-null     float64
dtypes: float64(12), object(1)
memory usage: 5.2+ KB